body {
    background-image: url(../images/background2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

span {
    color: rgb(255, 79, 79);
}

.leyenda {
    margin: 0 auto;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    width: 600px;
    height: 25px;
    margin-top: 60px;
    font-family: Agency FB;
    font-size: 22px;
    color: white;
}

.leyenda p {
    display: inline;
    padding-left: 30px;
}

form {
    background-color: rgb(0, 0, 0, 0.8);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Agency FB;
    color: white;
    font-size: 42px;
    overflow-y: scroll;
    padding: 40px;
}

form .grid {
    display: grid;
    grid-template-columns: 350px 300px;
    justify-content: center;
}

form .labels {
    display: grid;
    row-gap: 40px;
}

form .inputs {
    display: grid;
    grid-template-columns: 295px;
}

form .inputs input,
.select select {
    width: 250px;
    height: 30px;
}

.select{
    display: inline;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
}

button {
    font-family: Agency FB;
    font-size: 38px;
    color: white;
    background-color: #111111;
    border: none;
    padding: 15px;
    width: 350px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 390px;
    transition: color 0.3s, background-color 0.3s;
}

button:hover {
    background-color: white;
    color: #111111;
    transition: color 0.3s, background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

form textarea {
    margin-top: 50px;
    margin-left: 80px;
}

label[for=observaciones] {
    float: left;
    margin-top: 60px;
    margin-left: 270px;
}

.inputs .radio input {
    height: 30px;
    width: 30px;
    display: inline;
    margin: 0 auto;
}

input[name=anhos] {
    margin-top: 20px;
}

.suscripcion select {
    width: 120px;
}

.suscripcion button {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 120px;
    font-size: 18px;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}