article {
    background-color: rgb(0, 0, 0, 0.6);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Agency FB;
    overflow-y: scroll;
}

article p {
    padding: 30px;
    color: white;
    font-size: 42px;
}

button {
    font-family: Agency FB;
    font-size: 38px;
    border: none;
    padding: 15px;
    width: 350px;
    margin-top: 30px;
    margin-left: 620px;
    cursor: pointer;
}

.suscripciones {
    margin: 0px auto;
    margin-bottom: 50px;
    margin-left: 440px;
}

.controlPanel {
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}

.controlButton {
    margin: 0px;
}

.alert {
    float: right;
    font-family: Agency FB;
    font-weight: bold;
    font-size: 32px;
    color: rgb(185, 0, 0);
    margin: 0px;
    margin-right: 260px;
    margin-top: 50px;
    display: none;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}