.content {
    background: rgb(0, 0, 0, 0.6);
    margin: 0 auto;
    height: 550px;
    width: 1600px;
    margin-top: 20px;
    padding: 30px;
}

.fichaSocio {
    background: #004060;
    height: 550px;
    width: 1600px;
}

.info {
    font-family: Agency FB;
    color: #ff8300;
}

.info p {
    margin: 0;
}

.info .title {
    font-size: 85px;
    padding-top: 25px;
}

.club {
    font-size: 30px;
    padding-top: 25px;
    padding-left: 55px;
}

.info img {
    float: left;
    height: 150px;
    width: 150px;
    padding-left: 50px;
}

.info .ficha {
    font-size: 88px;
    padding-top: 258px;
    padding-left: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 35%;
}

.socio {
    font-family: Agency FB;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.socio h1,
.socioBasket h1 {
    margin: 0;
    color: #ff8300;
    font-weight: normal;
    font-size: 50px;
}

.socioBasket {
    font-family: Agency FB;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.cuota {
    color: #ff8300;
    font-size: 60px;
    font-weight: bold;
}

.buttons {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 50%;
    height: 80px;
}

.buttons button {
    margin-top: 25px;
    margin-left: 100px;
    font-family: Agency FB;
    font-size: 38px;
    color: #ff8300;
    background-color: #004060;
    border: none;
    width: 350px;
    height: 50px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

.buttons button:hover {
    background-color: #ff8300;
    color: #004060;
    transition: color 0.3s, background-color 0.3s;
}